*{
    margin:0;
    padding: 0;
    box-sizing:border-box;
}

html,body{
    height: 100%;
    width:100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    width: 80%;
    /* height: 100%; */
    background-color: rgb(151, 151, 226);
    margin: 1em;
    padding: 2em;
    padding-top: 1rem;
    font-size: 1.5rem;
    border-radius: 1rem;
    box-sizing: border-box;
    box-shadow: 8px 8px 8px,-5px -5px 5px;
    /* margin: 1rem; */
}
#formname{
    font-size: 3rem;
    margin: 1rem;
    margin-top:.1rem;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
}


#form{
    box-sizing: border-box;
    background-color: aliceblue;
    height: auto;
    padding: 1rem;
    border-radius: 1rem ;
    box-shadow: 10px 10px 6px, -5px -5px 5px ;
}
.box{
    border: 2px solid black;
    gap: 1rem;
    padding: .5rem;
    padding-left: 2rem;
    margin: 1rem;
    border-radius: 2rem;
    box-shadow: 2px 2px 2px 2px;
    
}

input{
    font-size: 1.5rem;
    border-radius: 3rem;
    padding: 5px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    /* font-weight: 600; */
}

label{
    font-weight: 600;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.submitbox{
    /* align-items: center; */
    text-align: center;
}
#button{
    font-size: 2rem;
    padding: 6px;
    border-radius: 1rem;
    background-color: rgb(228, 221, 221);
    font-weight: 600;
    cursor: pointer;
}