*{
    margin:0;
    padding:0;
    box-sizing:border-box;

}
html,body{
    height: 100%;
    width:100%;
}

#box{
    width:300px;
    height:300px;
    border-radius:50%;
    background-color:blue;
}
#box:hover{
    cursor:pointer;
}