*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
html,body{
    width: 100vw;
    height:100vh;
    background-color: #111;
    color:#fff;
}

// website link 
// https://arik-template.framer.website/