*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}

.container{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0eded;
}

.main{
    /* height: 15rem; */
    background-color: #d1a4a4;
    width: 30rem;
    padding: 40px;
    border-radius: 10px;
    /* font-size: 50px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center ;
    gap: 10px;
}

.img{
    width: 200px;
    height: 200px;
    object-fit: cover;
}
.img img{
    /* object-fit: cover; */
    width: 100%;
    height: 100%;
    border-radius:10px;
}
.box{
    font-size: 40px;

}
.fbox{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 800;
    color: red;
}
.button{
    padding:10px;
    border-radius:10px;
    
}
.button:hover{
    cursor:pointer;
}
.button:active{
    scale: 0.9;
    /* cursor: pointer; */
}